body {
    font-family: sans-serif;
}

#results {
    margin-top: 1em;
}

#results table {
    border-collapse: collapse;
    border: 1px solid black;
}

#results table th,
#results table td {
    border: 1px solid black;
    padding: 0.5em;
}

td.attempt,
td.latency {
    text-align: right;
}

#results table td.bar {
    width: 30em;
}

td.bar .portion {
    background-color: #03A9F4;
}

.loader {
    border: 0.2em solid #bfbfbf;
    border-top: 0.2em solid black;
    border-radius: 50%;
    width: 0.5em;
    height: 0.5em;
    margin: auto auto;
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

span.left {
    float: left;
}

span.right {
    float: right;
}

button {
    font-weight: bold;
}